# 資料選擇
## 欄選擇
### 選擇某一欄/某幾欄

In [ ]:
import pandas as pd
df = pd.read_excel(r"..\data\test6.xlsx")
df

In [ ]:
df["訂單編號"]

In [ ]:
df[["訂單編號","客戶姓名"]]

In [ ]:
#取得第1欄和第3欄的數值
df

In [ ]:
df.iloc[:,[0,2]] #取得第1欄和第3欄的數值

### 選擇連續的某幾欄

In [ ]:
#取得第1欄到第4欄的資料
df.iloc[:,0:3]#取得第1欄到第4欄的值

## 列選擇
### 選擇某一列/某幾列

In [ ]:
df=pd.read_excel("../data/test6.xlsx", sheet_name="6-2")
df.index=(["一","二","三","四"])
df

In [ ]:
df.loc["一"] #選擇一列

In [ ]:
df.loc[["一","二"]] #選擇第一列和第二列

In [ ]:
#利用iloc方法
df

In [ ]:
df.iloc[0]#選擇第一列

In [ ]:
df.iloc[[0,1]]#選擇第一列和第二列

### 選擇連續的某幾列

In [ ]:
df

In [ ]:
df.iloc[0:3]#選擇第一列到第三列

### 選擇滿足條件的列

In [ ]:
df = pd.read_excel("../data/test6.xlsx",sheet_name = "6.2.3")
df

In [ ]:
df[df["年齡"]<200] #選擇年齡小於200的資料

In [ ]:
df[ (df["年齡"]<200) & (df["唯一識別碼"]<102)]  # 小括弧要寫

## 列欄同時選擇

### 普通索引+普通索引選擇指定的列和欄

In [ ]:
#取得第一列、第三列和第一欄、第三欄資料
df = pd.read_excel(r"..\data\test6.xlsx", sheet_name="6-3")
df.index=("一","二","三","四")
df

In [ ]:
#用loc方法傳入列欄名稱
df.loc[["一","三"],["訂單編號","唯一識別碼"]]

### 位置索引+位置索引選擇指定的列和欄

In [ ]:
#取得第一列、第二列和第一欄、第三欄資料
df

In [ ]:
df.iloc[[0,1],[0,2]]

### 布林索引+普通索引選擇指定的列和欄

In [ ]:
df

In [ ]:
df[df["年齡"]<200][["訂單編號","年齡"]]

### 切片索引+切片索引選擇指定的列和欄

In [ ]:
#選擇第一到第三列，第二列欄第三欄
df

In [ ]:
df.iloc[0:3,1:3]

### 開始練習

In [1]:
import pandas as pd
df = pd.read_excel(r"..\data\銷售業績.xlsx")
df

             日期     產品編號        產品名稱     單價  數量      小計   業務員   店名
0    2014-01-01   LI0059     大筆電(A款)  20500   5  102500   林益妤   南吉
1    2014-01-01   LI0059     大筆電(A款)  20500   1   20500   陳凱成   陽明
2    2014-01-01   ET0093   外接硬碟(2TB)   2899   2    5798   羅強信   四維
3    2014-01-01   ET0093   外接硬碟(2TB)   2899   3    8697   劉智杰   四維
4    2014-01-01   ET0093   外接硬碟(2TB)   2899   1    2899   陳大鈞   南吉
...         ...      ...         ...    ...  ..     ...   ...  ...
1033 2014-12-31   JR0002    平板電腦(7吋)   7900   5   39500   李克汀   崇德
1034 2014-12-31   JH0049   桌上電腦(DIY)  14800   1   14800   陳大鈞   南吉
1035 2014-12-31   JN0070    商用電腦(品牌)  16800   2   33600   周苡祥   新創
1036 2014-12-31   FX0067     單色雷射列表機   6990   4   27960   趙育佑   南吉
1037 2014-12-31   BO0078    無線充電行動電源   2090   3    6270   陳傑龍   陽明

[1038 rows x 8 columns]

In [ ]:
df.info()

In [ ]:
# B欄符合V5內容的，取C欄小於101的，算I欄的平均值
df[  df['產品編號']==' JR0002'  ]
df1 = df1[  (df1['小計']<10000)  ]
df1.mean()

In [ ]:
# B欄符合V5內容的，找到I欄最大值，回傳C欄的內容
df1 = df[  df['產品編號']==' JR0002'  ]
# df1 = df1.sort_values('小計',ascending=False)
df1 = df1[  df1['小計']==df1['小計'].max()  ]
df1[['業務員','店名']].drop_duplicates()

In [ ]:
# 
df[ (df['產品名稱']==' 平板電腦(7吋)')  &  (df['店名'].isin([' 四維',' 陽明' ])) ].sort_values(['店名','業務員']).size

In [ ]:
pd.set_option('display.max_columns',None) #  展示所有行
pd.set_option('display.max_rows',None)    #  展示所有列

In [ ]:
#  
df[ (df['產品名稱']==' 平板電腦(7吋)')  ].sort_values(['店名','業務員'])

In [2]:
sales_s = df['業務員'].drop_duplicates()

In [3]:
laptop_df = df[(df['產品名稱'] == ' 平板電腦(7吋)')].sort_values(['店名','業務員'])

In [4]:
laptopsales_s = laptop_df['業務員'].drop_duplicates()

In [6]:
nosale_s = pd.concat([sales_s,laptopsales_s]).drop_duplicates(keep = False)

In [7]:
nosale_s

29     陳嘉祥
33     黃錦雯
Name: 業務員, dtype: object

In [ ]:
set1 = set(sales_s)
set2 = set(laptopsales_s)

In [ ]:
set1.difference(set2)

In [ ]:
# df[  df['業務員'].isin(nosale_s)  ]\
# .drop_duplicates(subset=['業務員', '店名'])\
# .drop(columns=['日期','產品編號','產品名稱','單價','數量','小計'])

In [ ]:
#  集合的測試 ---- 對稱差集
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

In [21]:
s1 = pd.Series(["apple", "apple","banana", "banana", "cherry", "cherry"]).drop_duplicates()
s2 = pd.Series(["google", "microsoft", "apple"]).drop_duplicates()  # 要先讓series如同set一樣，沒有重複元素

pd.concat([s1,s2]).drop_duplicates(keep = False)  # symmetric_difference

2       banana
4       cherry
0       google
1    microsoft
dtype: object

In [22]:
s1 = pd.Series(["apple", "apple","banana", "banana", "cherry", "cherry"]).drop_duplicates()
s2 = pd.Series(["google", "microsoft", "apple"]).drop_duplicates()  # 要先讓series如同set一樣，沒有重複元素

pd.concat([s1,s2]).drop_duplicates()  # union

0        apple
2       banana
4       cherry
0       google
1    microsoft
dtype: object

In [23]:
s1 = pd.Series(["apple", "apple","banana", "banana", "cherry", "cherry"]).drop_duplicates()
s2 = pd.Series(["google", "microsoft", "apple"]).drop_duplicates()  # 要先讓series如同set一樣，沒有重複元素

pd.concat([s1,s2]).unique()  # union

array(['apple', 'banana', 'cherry', 'google', 'microsoft'], dtype=object)

In [25]:
s1 = pd.Series(["apple", "apple","banana", "banana", "cherry", "cherry"]).drop_duplicates()
s2 = pd.Series(["google", "microsoft", "apple"]).drop_duplicates()  # 要先讓series如同set一樣，沒有重複元素
s = pd.concat([s1,s2])
s[ s.duplicated() ]  # intersection

2    apple
dtype: object

In [29]:
s1 = pd.Series(["apple", "apple","banana", "banana", "cherry", "cherry"]).drop_duplicates()
s2 = pd.Series(["google", "microsoft", "apple"]).drop_duplicates()  # 要先讓series如同set一樣，沒有重複元素
s = pd.concat([s1,s2,s2])
s.drop_duplicates(keep = False)  # difference s1-s2

2    banana
4    cherry
dtype: object

In [30]:
s1 = pd.Series(["apple", "apple","banana", "banana", "cherry", "cherry"]).drop_duplicates()
s2 = pd.Series(["google", "microsoft", "apple"]).drop_duplicates()  # 要先讓series如同set一樣，沒有重複元素
s = pd.concat([s2,s1,s1])
s.drop_duplicates(keep = False)  # difference s2-s1

0       google
1    microsoft
dtype: object

In [ ]:
import pandas as pd
df = pd.read_excel(r"..\data\銷售業績.xlsx")
df

In [ ]:
df['產品名稱'].unique()

In [ ]:
df[ ~df['產品名稱'].duplicated() ]

In [ ]:
df[ ~df['日期'].duplicated(keep=False) ]

In [31]:
s1 = pd.Series(["apple", "apple","banana", "banana", "cherry", "cherry"]).drop_duplicates()
s2 = pd.Series(["google", "microsoft", "apple"]).drop_duplicates()  # 要先讓series如同set一樣，沒有重複元素

對稱差集 = pd.concat([s1,s2]).drop_duplicates(keep = False)  # symmetric_difference

聯集 = pd.concat([s1,s2]).drop_duplicates()  # union

s = pd.concat([s1,s2])
交集 = s[ s.duplicated() ]  # intersection

s = pd.concat([s1,s2,s2])
差集1 = s.drop_duplicates(keep = False)  # difference s1-s2

s = pd.concat([s2,s1,s1])
差集2 = s.drop_duplicates(keep = False)  # difference s2-s1

In [33]:
print(list(對稱差集))
print(list(聯集))
print(list(交集))
print(list(差集1))
print(list(差集2))

['banana', 'cherry', 'google', 'microsoft']
['apple', 'banana', 'cherry', 'google', 'microsoft']
['apple']
['banana', 'cherry']
['google', 'microsoft']