# 資料運算
## 算術運算

In [1]:
import pandas as pd
data = {"C1":[1,4],"C2":[2,5],"C3":[3,6]}
df = pd.DataFrame(data,index = ["S1","S2"])
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [2]:
df["C1"] + df["C2"]

S1    3
S2    9
dtype: int64

In [3]:
df["C1"] - df["C2"]

S1   -1
S2   -1
dtype: int64

In [4]:
df["C1"] * df["C2"]

S1     2
S2    20
dtype: int64

In [5]:
df["C1"] / df["C2"]

S1    0.5
S2    0.8
dtype: float64

In [6]:
df["C1"] + 2

S1    3
S2    6
Name: C1, dtype: int64

In [7]:
df["C1"] - 2

S1   -1
S2    2
Name: C1, dtype: int64

In [8]:
df["C1"] * 2

S1    2
S2    8
Name: C1, dtype: int64

In [9]:
df["C1"] / 2

S1    0.5
S2    2.0
Name: C1, dtype: float64

## 比較運算

In [10]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [11]:
df["C1"] > df["C2"]

S1    False
S2    False
dtype: bool

In [12]:
df["C1"] != df["C2"]

S1    True
S2    True
dtype: bool

In [13]:
df["C1"] < df["C2"]

S1    True
S2    True
dtype: bool

## 彙總運算

### 非空格計數

In [14]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [15]:
df.count()

C1    2
C2    2
C3    2
dtype: int64

In [16]:
df.count(axis = 1)

S1    3
S2    3
dtype: int64

In [17]:
df["C1"].count()

2

### sum求和

In [18]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [19]:
df.sum()

C1    5
C2    7
C3    9
dtype: int64

In [20]:
df.sum(axis = 1)

S1     6
S2    15
dtype: int64

### mean求均值

In [22]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [23]:
df.mean()

C1    2.5
C2    3.5
C3    4.5
dtype: float64

In [24]:
df.mean(axis = 1)

S1    2.0
S2    5.0
dtype: float64

In [25]:
df["C1"].mean()#對C1欄求均值

2.5

### max求最大值

In [26]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [27]:
df.max()

C1    4
C2    5
C3    6
dtype: int64

In [28]:
df.max(axis = 1)

S1    3
S2    6
dtype: int64

In [29]:
df["C1"].max()#對C1欄求最大值

4

### min求最小值

In [30]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

In [31]:
df.min()

C1    1
C2    2
C3    3
dtype: int64

In [32]:
#求取每一列的最小值
df.min(axis = 1)

S1    1
S2    4
dtype: int64

In [33]:
#求取C1欄的最小值
df["C1"].min()

1

### median求中位數

In [35]:
data = {"C1":[1,4,7],"C2":[2,5,8],"C3":[3,6,9]}
df = pd.DataFrame(data,index = ["S1","S2","S3"])
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6
S3   7   8   9

In [36]:
df.median()

C1    4.0
C2    5.0
C3    6.0
dtype: float64

In [37]:
#求取每一列的中位數
df.median(axis = 1)

S1    2.0
S2    5.0
S3    8.0
dtype: float64

In [38]:
#求取C1欄的中位數
df["C1"].median()

4.0

### mode求眾數

In [43]:
data = {"C1":[1,4,1],"C2":[4,4,6],"C3":[1,1,3]}
df = pd.DataFrame(data,index = ["S1","S2","S3"])
df

    C1  C2  C3
S1   1   4   1
S2   4   4   1
S3   1   6   3

In [44]:
df.mode()

   C1  C2  C3
0   1   4   1

In [48]:
#求取每一列的眾數
df.mode(axis=1)

      0    1    2
S1  1.0  NaN  NaN
S2  4.0  NaN  NaN
S3  1.0  3.0  6.0

In [46]:
#求取C1欄的眾數
df["C1"].mode()

0    1
dtype: int64

### var求變異數

In [49]:
data = {"C1":[1,4,7],"C2":[2,5,8],"C3":[3,6,9]}
df = pd.DataFrame(data,index = ["S1","S2","S3"])
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6
S3   7   8   9

In [50]:
df.var()

C1    9.0
C2    9.0
C3    9.0
dtype: float64

In [51]:
#求取每一列的變異數
df.var(axis = 1)

S1    1.0
S2    1.0
S3    1.0
dtype: float64

In [53]:
#求取C1欄的變異數
df["C1"].var()

9.0

### std求標準差

In [54]:
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6
S3   7   8   9

In [55]:
df.std()

C1    3.0
C2    3.0
C3    3.0
dtype: float64

In [56]:
#求取每一列的標準差
df.std(axis = 1)

S1    1.0
S2    1.0
S3    1.0
dtype: float64

In [57]:
#求取C1欄的標準差
df["C1"].std()

3.0

### quantile求分位數

In [58]:
data = {"C1":[1,4,7,10,13],"C2":[2,5,8,11,14],"C3":[3,6,9,12,15]}
df = pd.DataFrame(data,index = ["S1","S2","S3","S4","S5"])
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6
S3   7   8   9
S4  10  11  12
S5  13  14  15

In [59]:
df.quantile(0.25)#求四分之一分位數

C1    4.0
C2    5.0
C3    6.0
Name: 0.25, dtype: float64

In [60]:
df.quantile(0.75)#求四分之三分位數

C1    10.0
C2    11.0
C3    12.0
Name: 0.75, dtype: float64

In [62]:
#求取每一列的四分之一分位數
df.quantile(0.25, axis = 1)

S1     1.5
S2     4.5
S3     7.5
S4    10.5
S5    13.5
Name: 0.25, dtype: float64

In [63]:
#求取C1欄的四分之一分位數
df["C1"].quantile(0.25)

4.0

## 相關性運算

In [70]:
data = {"col1":[1,3,5,7,9],"col2":[2,4,6,8,10]}
df = pd.DataFrame(data,index = [0,1,2,3,4])
df

   col1  col2
0     1     2
1     3     4
2     5     6
3     7     8
4     9    10

In [71]:
df["col1"].corr(df["col2"]) #求取col1欄與col2欄的相關係數

0.9999999999999999

In [72]:
data = {"col1":[1,4,7,10,13],
             "col2":[2,5,8,11,14],
             "col3":[3,6,9,12,15]}
df = pd.DataFrame(data,index = [0,1,2,3,4])
df

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9
3    10    11    12
4    13    14    15

In [73]:
#計算欄位col1、col2、col3兩兩之間的相關性
df.corr()

      col1  col2  col3
col1   1.0   1.0   1.0
col2   1.0   1.0   1.0
col3   1.0   1.0   1.0