# 時間序列
## 取得現在的時間
### 傳回現在的日期和時間

In [1]:
from datetime import datetime
datetime.now()

datetime.datetime(2019, 9, 2, 11, 43, 1, 407937)

### 分別傳回現在的年、月、日

In [2]:
# 傳回年
datetime.now().year

2019

In [3]:
# 傳回月
datetime.now().month

9

In [4]:
# 傳回日
datetime.now().day

2

### 傳回現在的周數

In [5]:
# 傳回今天是星期幾，因為Python中周幾是從0開始數的，周日傳回的是6，所以在後面加1
datetime.now().weekday()+1

1

In [6]:
datetime.now().isocalendar()

(2019, 36, 1)

In [7]:
datetime.now().isocalendar()[1]#傳回周數

36

## 指定日期和時間的格式

In [8]:
# 只顯示日期
datetime.now().date()

datetime.date(2019, 9, 2)

In [9]:
# 只顯示時間
datetime.now().time()

datetime.time(11, 50, 14, 513911)

In [10]:
# 用strftime()函式自訂時間和日期的格式
datetime.now().strftime('%Y-%m-%d')

'2019-09-02'

In [11]:
datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2019-09-02 11:51:09'

## 字串和時間格式相互轉換
### 將時間格式轉換為字串格式

In [12]:
#新增一個時間格式的時間
now = datetime.now()
now

datetime.datetime(2019, 9, 2, 11, 52, 8, 107267)

In [13]:
type(now)#查看變數now的資料類型

datetime.datetime

In [14]:
type(str(now))

str

### 將字串格式轉換為時間格式

In [15]:
#新增一個字串格式的時間
str_time = "2018-10-14"
type(str_time)#查看變數str_time的資料類型

str

In [16]:
from dateutil.parser import parse
parse(str_time)#將字串解析為時間

datetime.datetime(2018, 10, 14, 0, 0)

In [17]:
type(parse(str_time))

datetime.datetime

## 時間索引

In [18]:
import pandas as pd
import numpy as np
index = pd.DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'])
data = pd.DataFrame(np.arange(1,11),columns = ["num"],index = index)
data

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

In [19]:
# 取得2018年的資料
data["2018"]

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

In [20]:
# 取得2018年1月的資料：
data["2018-01"]

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

In [21]:
# 取得2018年1月1日到2018年1月5日的資料：
data["2018-01-01":"2018-01-05"]

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5

In [22]:
# 取得2018年1月1日的資料：
data["2018-01-01":"2018-01-01"]

            num
2018-01-01    1

In [23]:
df = pd.read_excel(r"C:\ACD019600\data\test8.xlsx")
df

  訂單編號 客戶姓名  唯一識別碼  年齡       成交時間
0   A1   張通    101  31 2018-08-08
1   A2   李谷    102  45 2018-08-09
2   A3   孫鳳    103  23 2018-08-10
3   A4   趙桓    104  36 2018-08-11
4   A5   孟儀    105  21 2018-08-11

In [24]:
#選取成交時間為2018年8月8日的訂單
df[df["成交時間"] == datetime(2018,8,8)]

  訂單編號 客戶姓名  唯一識別碼  年齡       成交時間
0   A1   張通    101  31 2018-08-08

In [25]:
#選取成交時間在2018年8月9日之後的訂單
df[df["成交時間"] > datetime(2018,8,9)]

  訂單編號 客戶姓名  唯一識別碼  年齡       成交時間
2   A3   孫鳳    103  23 2018-08-10
3   A4   趙桓    104  36 2018-08-11
4   A5   孟儀    105  21 2018-08-11

In [26]:
#選取成交時間在2018年8月10日之前的訂單
df[df["成交時間"] < datetime(2018,8,10)]

  訂單編號 客戶姓名  唯一識別碼  年齡       成交時間
0   A1   張通    101  31 2018-08-08
1   A2   李谷    102  45 2018-08-09

In [27]:
#選取成交時間在2018年8月8到2018年8月11之間的訂單
df[(df["成交時間"] > datetime(2018,8,8))&(df["成交時間"] < datetime(2018,8,11))]

  訂單編號 客戶姓名  唯一識別碼  年齡       成交時間
1   A2   李谷    102  45 2018-08-09
2   A3   孫鳳    103  23 2018-08-10

## 時間運算
### 兩個時間之差

In [34]:
diff = datetime(2018,5,21,19,50) - datetime(2018,5,18,20,32)
diff

datetime.timedelta(days=2, seconds=83880)

In [38]:
diff.days #傳回天的時間差

2

In [39]:
diff.seconds #傳回秒的時間差

83880

In [40]:
diff.seconds/3600 #換算成小時的時間差

23.3

### 時間偏移

In [41]:
# timedelta
from datetime import timedelta
date = datetime(2018,5,18,20,32)
#往後推1天
date + timedelta(days = 1)

datetime.datetime(2018, 5, 19, 20, 32)

In [42]:
#往後推60秒
date + timedelta(seconds = 60)

datetime.datetime(2018, 5, 18, 20, 33)

In [43]:
#往前推1天
date - timedelta(days = 1)

datetime.datetime(2018, 5, 17, 20, 32)

In [44]:
#往前推60秒
date - timedelta(seconds = 60)

datetime.datetime(2018, 5, 18, 20, 31)

In [45]:
# date offset
from pandas.tseries.offsets import Day,Hour,Minute
date = datetime(2018,5,18,20,32)

#往後推1天
date + Day(1)

Timestamp('2018-05-19 20:32:00')

In [46]:
#往後推1小時
date + Hour(1)

Timestamp('2018-05-18 21:32:00')

In [47]:
#往後推10分鐘
date + Minute(10)

Timestamp('2018-05-18 20:42:00')

In [48]:
#往前推1天
date - Day(1)

Timestamp('2018-05-17 20:32:00')

In [49]:
#往前推1小時
date - Hour(1)

Timestamp('2018-05-18 19:32:00')

In [50]:
#往前推10分鐘
date - Minute(10)

Timestamp('2018-05-18 20:22:00')